#event-graphics > section   { background-color: #ffffff;  }
#event-details > header { padding: 10px 40px 10px 40px;   text-align: center; font-size: 20px;
                            color: white;           margin-top: -25px;   background-color: #c9ec30; 
                           }
#event-details > section { background-color: #ffffff; }
#event-details > section > img {    padding-bottom: 10px;   }
#event-details > section > p {    margin-top: 10px;     }
#event-details > section > h3 { text-align: center; color: #7e7e7e;  font-family: 'Ubuntu', sans-serif;
                                padding-bottom: 10px;
                                }
.h5-left        {       margin-left: 25px;                      }
.h5-right       {       text-align: right;  margin-right: 25px; }
#event-registration > span {  font-size: 12px; }
#event-registration {     font-size: 14px;     padding: 10px 40px 10px 40px;   border-radius: 0px;
                    }
.imagewrap  {   display:inline-block;       position:relative;          }
.img-btn    {   position:absolute;          top: 10px;      right: 25px; }
.img-detais
{   background-color: #8365ab;  border-radius: 5px;     color: #ffffff;
    padding: 5px 15px;          margin-left: 25px;      margin-right: 25px;
    width: fit-content;         position: absolute;     bottom: 0;      left: 0;
}
#event-description-1, #event-description-2 
{        font-family: 'Rokkitt', serif;  font-size: large;  }
#event-description-3    {   color: #2e2e89;     font-family: 'Josefin', serif;   letter-spacing: 1px;    
                            font-size: large;
                        }
#registration-form-header   {   text-align: center; margin-bottom: 20px;     color: #124d16;  }
#event-registration-form    {   background-color: #ffd100;        margin-bottom: 40px;        }
.registration-field 
{   margin-bottom: 12px;    font-size: 17px;    padding: 8px;   color: #777777;
    border: 1px solid #feff00;                  box-shadow: inset 0px 0px 5px rgba(85, 85, 85, 0.15);
}
#student-ask  
{   font-size: 16px;    font-weight: 400;   text-align: center;     margin-bottom: 15px;    color: white;    }
#student-ask:hover  {   cursor: pointer;    }
#registration-form-submit
{   height: 55px;       margin-bottom: 25px;    background-color: #333;     color: #ffffff;
    font-size: 14px;                            border: 1px solid #333;     text-shadow: 0px 1px 1px #000000;
}
#registration-form-submit:hover {  background-color: #ff0900;   border: 1px solid rgb(210, 7, 0);  }

